<section class="pagination" >
        <!-- <% if (currentPage !==1 && previousPage !== 1){ %>
          <a href="/?page=1" title="first page /current page">First Page</a>
        <% }   %> -->

        <% if (hasPreviousPage){%>
            <a href="?page=<%= previousPage %>"  title="previous page" class="active">Previous Page<!--<%=previousPage%>--></a>
        <% } %>

        <a href="?page=<%=currentPage%>" class="active"  title="current page"><%=currentPage%></a>

        <% if (nextPage){%>
        <a href="?page=<%=nextPage%>" class="active"  title="next page"><!--<%=nextPage%>-->Next Page</a>
        <% } %>

        <% if (lastPage !==currentPage && nextPage !== currentPage){%>
            <a href="?page=<%=lastPage%>" class="active"  title="last page"><!--<%=lastPage%>-->Last Page</a>
        <% } %>

</section>